#alpha-filter li a {
  background-color: #f7f7f7;
  border-color: #eeeeee;
}
#alpha-filter li a:hover {
  background-color: #999999;
  color: #ffffff;
}
#members h3 {
  border-bottom-color: #eeeeee;
  color: #555555;
}
#members div.member { border-color: #eeeeee; }
#members div.member .header { color: #ffffff; }
#members div.member .header .tools a { color: #ffffff; }
#members div.member .header .tools a:hover { 
  background-color: #f7f7f7;
  color: #0077BB; 
}
#members div.member .active { background-color: #0077bb; }
#members div.member .suspended { background-color: #990000; }
#members div.member .avatar {
  background-color: #ffffff;
  border-color: #eeeeee;
}
#members div.member .info {
  border-right-color: #eeeeee;
}
#members div.member .info h3 {
  background-color: #f7f7f7;
  border-bottom-color: #dddddd;
}
#members div.member .email a { color: #777777;}
#members div.member .details ul { color: #777777; }