#alpha-filter li { float: left; }
#alpha-filter li a {
  border: 1px solid; 
  display: block;
  margin: 0px 5px 5px 0px; 
  padding: 3px 10px;
}
#members { margin-top: 20px; }
#members h3 { padding: 5px; }
#members div.member { 
  margin-bottom: 20px;
}
#members div.member .header { padding: 3px 0px; }
#members div.member .header h4 { 
  float: left;
  padding: 1px 3px 1px 10px; 
}
#members div.member .header .tools { padding: 1px 10px 1px 3px; }
#members div.member .header .tools a { padding: 0px 3px; }
#members div.member .avatar {
  border: 1px solid;
  float: left;
  margin-right: 10px;
  max-height: 50px;
  max-width: 50px;
}
#members div.member .info-container {
  border: 1px solid;
  border-top: none;
}
#members div.member .info { 
  padding: 5px;
  border-right: 2px solid;
  width: 320px; 
}
#members div.member .identity {
  margin-left: 58px;
}
#members div.member .info h3 { 
  border-bottom: 1px solid; 
  padding: 5px;
}
#members div.member .details ul {
  line-height: 180%;
  list-style-type: square;
  margin-left: 20px;
  padding: 5px;
}