body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: small;
	line-height: 1.5em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em;}
p { font-size: 1em;}

.pre-header a:hover { text-decoration: none; }      

#header div.tabs a {
  font-size: 1em;
	text-decoration: none;
}
#header div.tabs a.current { font-weight: bold; }

#sidebar div.list ul a { font-size: 105%; }

#footer a:hover { text-decoration: none; }         
