body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: small;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
p { font-size: 1em;}

.pre-header a:hover { text-decoration: none; }      

#header div.tabs a {
  font-size: 1em;
	text-decoration: none;
}
#header div.tabs a.current { font-weight: bold; }

#footer a:hover { text-decoration: none; }         
