.left { float:  left; }
.right { float :right; }

.clear-fix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

* html .clear-fix { display: inline-block; }
.floated-list li { float: left; }
.floated-list li a { display: block; }
.centered { text-align: center; }

#header {
  min-width: 800px;
  padding: 5px 25px 0px 25px;
}

#pre-header { padding: 5px 0px 30px; }
#pre-header h3 { margin-top: 5px; }
#pre-header .pipe { margin: 0px 3px; }

#header div.tabs li { float: left; }
#header div.tabs .left li { margin-right: 5px; }
#header div.tabs .right li { margin-left: 5px; }
#header div.tabs a {
	display: block;
	padding: 4px 8px;
}

#container {
  min-width: 800px;
  margin: 20px 25px 0px 25px;
}

#primary-content {
  min-width: 600px;
  width: 75%;
}
#primary-content div.content { padding: 10px 20px 15px; }
#primary-content h2 { padding: 10px 20px; }
#primary-content h2 a { padding-left: 10px; }

#primary-content form { padding:  10px 15px 10px 15px; }
#primary-content form hr { margin-bottom: 15px;}
#primary-content form input, #primary-content form textarea {
  margin-bottom:  15px;
  width: 30%;
}
#primary-content form .buttons input {
	margin-bottom: 0px;
	padding:  2px 10px;
	width: 10%;
}

#sidebar {
  min-width: 200px;
  width: 24.9%;
}
#sidebar div.content { padding: 0 0px 15px 20px; }
#sidebar div.list, div.form { margin-bottom: 15px; }
#sidebar div.list h2, #sidebar div.form h2 {
  margin: 0px 0px 5px 0px;
  padding: 6px 8px;
}
#sidebar div.list ul a {
  display: block;
  padding-left: 10px;
  text-decoration: none;
}
#sidebar div.list form {
	margin: 10px 0px;
	padding-left: 10px;}
#sidebar div.list form input{ margin: 3px 0px; }
div.empty, ol.errors, ul.errors {
  border: 4px solid;
  padding: 20px;
  text-align: center;
}
ol.errors, ul.errors {
	margin-bottom: 10px;
	text-align: left;
}
#footer {
  font-size: 90%;
  padding: 10px 45px 15px 45px;
}
#footer a { padding: 3px;}


