p { margin-bottom: 10px; }

.left { float:  left; }
.right { float :right; }
.clear-both { clear: both;}

#header { padding: 5px 25px 0px 25px; }

.pre-header { padding: 5px 0px 30px 0px; }
.pre-header h3 { margin-top: 5px; }      
.pre-header .pipe { margin: 0px 3px; }
                   
#header div.tabs li { float: left; } 
#header div.tabs ul.left li { margin-right: 5px; }
#header div.tabs ul.right li { margin-left: 5px; }
#header div.tabs a {
	display: block;
	padding: 4px 8px 4px;
	border-bottom: 1px solid;
}

#container { padding: 0px 25px; }
#section, #sidebar { margin-top: 20px;}
#section, #footer { width: 75%; }
#sidebar { width: 25%; }
#section div.content, #sidebar div.content { padding: 10px 20px 15px; }
#sidebar div.content { padding-top: 0px; }
#section h2 { padding: 10px 20px; }
#footer p { padding: 10px 20px 15px 17px; } 
#footer a { padding: 3px;}







